website-contact-alert-bot.safe.json
{
  "name": "Website Contact Alert Bot - Safe Template",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "includeSpamTrash": false,
          "q": "to:contact@example.com subject:\"Website contact form\" is:unread newer_than:1h"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -448,
        -16
      ],
      "name": "Gmail Trigger"
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -32,
        0
      ],
      "name": "Mark a message as read"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "=YOUR_WAHA_SESSION",
        "chatId": "=YOUR_WHATSAPP_CHAT_ID@c.us",
        "text": "={{$json.text}}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        416,
        0
      ],
      "name": "Send a text message"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nfunction getHeader(name) {\n  const headers = data.payload?.headers || data.headers || [];\n  const found = headers.find(h => String(h.name || '').toLowerCase() === name.toLowerCase());\n  return found?.value || '';\n}\n\nconst subject = getHeader('Subject') || data.subject || 'Website contact form';\nconst from = getHeader('From') || data.from || 'Not informed';\nconst date = getHeader('Date') || data.date || new Date().toLocaleString('pt-BR');\n\nconst rawText =\n  data.textPlain ||\n  data.text ||\n  data.snippet ||\n  data.body ||\n  JSON.stringify(data);\n\nfunction extract(label) {\n  const regex = new RegExp(label + ':\\\\s*(.*?)(?=\\\\s(?:Data|App|Store|Sent by|Name|Email|CPF|CNPJ|Subject|Message|About):|$)', 'i');\n  const match = rawText.match(regex);\n  return match ? match[1].trim() : '';\n}\n\nconst name = extract('Sent by') || extract('Name') || from;\nconst email = extract('Email') || 'Not informed';\nconst store = extract('Store') || 'Not informed';\nconst message = extract('About') || extract('Message') || rawText;\n\nreturn [{\n  json: {\n    text: `New website contact form message\\n\\nName: ${name}\\nEmail: ${email}\\nStore: ${store}\\nSubject: ${subject}\\nDate: ${date}\\n\\nMessage:\\n${message}`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{$json.id}}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -224,
        0
      ],
      "name": "Get a message"
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark a message as read": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "tags": [
    "portfolio",
    "template",
    "sanitized"
  ]
}